
bin
Bin
obj
sql
*.user
*.suo
_ReSharper*
dist
output
build
*.dbmdl

*~

*.swp
TestResult.xml


*.dropbox
desktop.ini
*.publish.xml
*.refactorlog

info
nugetPacks
packages
NuGet.config
